.header {
  grid-area: h;
  background-color: #C3E0E5;
  padding: 10px;

}
.header img {
  height: 44px;

}
.header div {
  vertical-align: center;
  color: black;
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
}
