.header {
    grid-area: h;
    background-color: #426e86;
    padding-left: 30px;

    border-radius: 0 0 2em 2em;

}

.header img {
    height: 47px;

}

.header div {
    vertical-align: center;
    display: inline-block;
    font-size: 2em;
    color: #f9ba32;
}
