.content {
    padding: 1em;
    display: inline-block;
    white-space: nowrap;

}

.userIcon {

    height: 200px;

}


.profileInf {
    display: inline-block;
    color: #2f3131;
    font-size: 1.5em;
    font-weight: bolder;
}
